<div class='edit'>
  <!--Change tag into Rails syntax-->
  <div class="drawing-mode-options">
    <label for="drawing-mode-selector">Mode:</label>
    <select class="drawing-mode-selector">
      <option>Brush</option>
      <option>Eraser</option>
    </select>
    <br>
    <label for="drawing-line-width">Line width:</label>
    <span class="info">5</span>
    <input type="range" value="5" max="100" class="drawing-line-width">
    <br>
    <label for='drawing-color'>Line color:</label>
    <input type='color' value="#005E7A" class='drawing-color'>
    <br>
    <button class='clear'>Clear</button><br>
    <button class='save' download=''>Save</button>
  </div>

  <!-- Allows me to fetch the src of the url -->
  <img class='edit-img' src="<%= request.url %>.png" width='1200px' height='700px' style='border:3px solid #000000; display: none'/>

  <canvas id="edit-canvas" width="1200" height="700" style="border:1px solid #000000; margin:auto; position:relative; margin-top:50px; margin-left:200px;">
  </canvas><br>
  <%= link_to "Home", user_images_path %>
</div>